#ติดตั้งใหม่ได้ด้วย rfbrowser init
browser/

TestData/

results/
log.html
output.xml
report.html
playwright-log.txt

__pycache__/
*.pyc
.venv/
venv/
env/

.env
*.env.local

.vscode/

.DS_Store
Thumbs.db